/* Basic Reset and Styling */
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: circle;
    padding: 2rem;
    margin: 1rem;
}

nav ul li {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.login_container{
    padding: 20px;
    margin-top: 15px;
    color : red;
    /* display: flex !important; */
    justify-content: center !important;
    align-items: center !important;
    background-position: center !important;
    display: flex;
    flex-direction: column;

}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
/*Add more styling*/